.title {
    text-anchor: middle;
    font: bold 16px sans-serif;
    position: relative;
}

.label {
    text-anchor: middle;
    font: 14px sans-serif;
    fill: black;
}

.legend {
    text-anchor: start;
    font: 11px sans-serif;
}

.rank {
    text-anchor: middle;
    font: 11px sans-serif;
    fill: blue;
}